<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResQMap - Yenilikçi Harita Sistemi</title>
    <link rel="stylesheet" href="/css/homePage.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a href="http://localhost:3000/location">Konum Ekle</a></li>
            <li><a href="http://localhost:3000/show-locations">Haritayı Göster</a></li>
            <li><a href="http://localhost:3000/about">Hakkında</a></li>
        </ul>
    </nav>

    <!-- Hero Section (Ana ekran) -->
    <header id="home" class="hero">
        <h1>Hoşgeldiniz!</h1>
        <p>Bu sistem sayesinde olası bir deprem/afet anında yardıma ihtiyacı olan insanlara yardım etmek daha kolay ve güvenilir olacaktır. 
            Tek yapmanız gereken acil durum altındaysanız konum eklemeniz ve bu kadar!
            Bu sistem girilen konumları T.C. kimlik numarası ile birlikte bir veritabanına kaydeder ve sonradan bu konumların görülmesini sağlar.
            Bu sayede ilgili ekipler nerede yardıma ihtiyacı olan kişilerin olduğunu tespit edip ona göre hareket edebiliriler.</p>
        <button class="btn" id="aboutButton">Hakkımızda</button>

    </header>

    <!-- About Section -->
    <section id="about" class="about">
        <h2>Ekibimiz:</h2>
        <p><b>Baki TURAN, Murat CANLI, Hamza Mert DAŞDEMİR, Enes ŞAHİN, Abdulsamet UZUN</b></p>
    </section>

    <!-- Footer -->
    <footer>
        <p>© 2025 ResQMap - Tüm hakları saklıdır.</p>
    </footer>
    <script>
        document.getElementById('aboutButton').onclick = function() {
            window.location.href = 'http://localhost:3000/about';
        };
    </script>

<script src='https://cdn.jotfor.ms/s/umd/latest/for-embedded-agent.js'></script>
<script>
  window.addEventListener("DOMContentLoaded", function() {
    window.AgentInitializer.init({
      agentRenderURL: "https://agent.jotform.com/01955301313c77eba586053eb747c3f6d40a",
      rootId: "JotformAgent-01955301313c77eba586053eb747c3f6d40a",
      formID: "01955301313c77eba586053eb747c3f6d40a",
      queryParams: ["skipWelcome=1", "maximizable=1"],
      isDraggable: false,
      background: "linear-gradient(180deg, #6C73A8 0%, #6C73A8 100%)",
      buttonBackgroundColor: "#0066C3",
      buttonIconColor: "#FFFFFF",
      variant: false,
      customizations: {
        "greeting": "Yes",
        "greetingMessage": "Merhaba! Nasıl yardımcı olabilirim?",
        "openByDefault": "No",
        "pulse": "No",
        "position": "right",
        "autoOpenChatIn": "0"
      },
      isVoice: undefined
    });
  });
</script>
</body>
</html>
