<!DOCTYPE html>
<html>

<head>
    <title>Konum ve Bilgi Kaydet</title>
</head>

<body>
    <h2>Kullanıcı Konumu ve Bilgisi</h2>
    <input type="text" id="tc" required placeholder="Tc Kimlik Numarınızı girin"><br><br>
    <input type="text" id="info" placeholder="Konum hakkında bilgi girin"><br><br>
    <button onclick="getLocation()">Konum ve Bilgiyi Kaydet</button>
    <p id="status"></p>

    <script>
        function getLocation() {
            // TC Kimlik Numarası'nın girilip girilmediğini kontrol et
            const tc = document.getElementById("tc").value;
            if (!tc) { // Eğer TC Kimlik Numarası girilmemişse
                document.getElementById('status').textContent = "Lütfen TC Kimlik Numaranızı girin.";
                return; // Fonksiyonu burada sonlandır ve konum işlemlerini yapma
            }
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendLocation, showError);
            } else {
                document.getElementById('status').textContent = "Geolocation is not supported by this browser.";
            }
        }

        function sendLocation(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            tc = document.getElementById("tc").value;//tc no bilgisi
            const info = document.getElementById('info').value; // Kullanıcıdan alınan bilgi



            fetch('/save-location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude,
                    info: info, // Konum bilgisiyle birlikte kullanıcı bilgisini de gönder
                    tc: tc
                }),
            })
                .then(response => {
                    if (!response.ok) { // Eğer sunucu hata durum kodu döndürürse
                        throw new Error('Bu kişi zaten kayıtlı');
                    }
                    return response.json();
                })
                .then(data => {
                    // İşlemin başarılı olduğuna dair kullanıcıya bilgi ver
                    document.getElementById('status').textContent = 'Konum ve bilgi başarıyla kaydedildi!';
                    document.getElementById('info').value = ''; // Bilgi inputunu temizle
                    document.getElementById("tc").value = ""; // TC inputunu temizle
                })
                .catch((error) => {
                    // Burada, ağ hatası ya da yukarıdaki throw ifadesinden dolayı oluşan hatalar ele alınır
                    document.getElementById('status').textContent = error.message;
                });
        }
        function showError(error) {
            document.getElementById('status').textContent = "Konum alınamadı: " + error.message;
        }
    </script>
</body>

</html>